@import url(https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i);
body{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}
html,body {
    height: 100%;
}
.container{
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #43c6ac 0%, #191654 100%);
    color: #ffffff;
    display: flex;
}
img {
    width: 20px;
    height: 20px;
}
.AllMenu {
    width: 20%;
    display: flex;
    background: #0d2450;
    align-items: flex-start;
    flex-direction: column;
}
.TaskManage {
    width: 80%;
    display: flex;
    background: linear-gradient(135deg, #43c6ac 0%, #191654 100%);
    display: flex;
    flex-direction: column;
}
.InforMenu {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
}
.ChooseMenu {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;

}
.ChooseMenu div:hover {
    background: rgb(107, 107, 107,0.2);
}
.ChooseMenu div:nth-child(2) {  
    color: #d9e949;
}
.ChooseMenu div {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0d2450;
    font-size: 1.1em;
    margin-bottom: 10%;
    cursor: pointer;
    color: #69f83e;
    font-weight: 700;
}
.ExitButton {
    height: 25%;
    cursor: pointer;
}
.ExitButton img {
    height: 100%;
    width: 20%;
    cursor: pointer;
}
.LogName {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.15em;
}
.Date {
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;    
    font-weight: 700;
    font-size: 1.6em;
    color: #ffffff;
}
.ButtonTask {
    display: flex;
    align-items: start;
    justify-content: flex-end; 
    height: 20%;
    background: rgb(65, 66, 66,0.6);
}
.NewTask {
 width: 10%;
 height: 40%;
 cursor: pointer;
}
.NewTask img{
    width: 100%;
    height: 100%;
}
.Refr {
    width: 10%;
    height: 35%;
    cursor: pointer;
}
.Refr img {
    width: 100%;
    height: 100%;
}
.AllTask {
    display: flex;
    flex-direction: column;
    height: 80%;
}
.Task {
    display: flex;
    flex-direction: column;
    height: 10%;
    text-overflow:ellipsis;
    margin-top: 2%;
}
.StanTask {
    display: flex;
    height: 50%;
    background: #ffffff;
    border-bottom: 1px solid #000;
}
.DopTask {
        
}
.CheckPrir {
    width: 7%;
    background: #191654;
    color: #191654;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TaskText {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 1.4em;
    font-weight: bold;
}
.TaskComp {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #21b821;
    cursor: pointer;
}
.TaskComp:hover {
    background: #09a344;
}
.TaskDel:hover{
    background: rgba(223, 12, 12);
}
.OpenDop:hover {
    background: #cfcfcf;
}
.TaskDel {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fa5757;
    cursor: pointer;
}
.OpenDop {
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
}
.From {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.NameFrom {
    width: 60%;
    border-right: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ExDate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}
.DataEnd{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}